.botao button {
    background-color: #2dd4bf;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #FFF;
    height: 60px;
    width: 140px;
    margin-top:  22px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}
