.formulario {
    width: 100%;
    margin: 40px 0;
    background-color: #f9fafb;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.06);
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 1000px;
}

.formulario form {
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .formulario form {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (max-width: 600px) {
    .formulario form {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}