:root {
  --black-color-light: hsl(220, 24%, 15%);

  --normal-font-size: .938rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

