.input-text {
    /* margin: 14px 0; */
}

.input-text label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    margin-bottom:  6px;
    position: relative;
}

.input-text input {
    border-radius: 10px;
	background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 18px;
    box-sizing: border-box;
    height: 60px;
    align-items: center;
    margin: 8px 0;
}

.input-text input:focus {
    border-width: 2px;
    border-color: rgb(99 102 241);
}

.label {
    display: flex;
    align-items: center;
}

.label span {
    font-size: 22px;
    color: #d60c0c;
    margin-left: 5px;
}