.input-text {
    margin: 24px, 0;
}

.input-text label {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    margin-bottom:  8px;
    position: relative;
}

.input-text input {
    border-radius: 10px;
	background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 18px;
    box-sizing: border-box;
    height: 60px;
    align-items: center;
    margin: 8px 0;
}

.input-text input:focus {
    border-width: 2px;
    border-color: rgb(99 102 241);
}

.icon-container {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-container svg {
    width: 20px;
    height: 20px;
}
